.create_new{
    height: 40px;
    position: fixed;
    width: 100%;
}
.create_button{
    height: 100%;
    width: 30%;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}
.create_button:focus{
    outline: none;
}
.all_todos_container{
    border: 1px solid #d92518;
    min-height: 200px;
    text-align: center;
}
.all_todos{
    margin-top:70px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.single_container{
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 30%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px #2b2828;
}